body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 5% 5%;
  margin: 0 auto;
  background-color: hsl(36, 100%, 99%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 7%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  color: hsl(233, 8%, 79%);
}
.nav-links a {
  font-size: 1rem;
  color: hsl(233, 8%, 79%);
}

.nav-links a:hover {
  color:hsl(5, 85%, 63%);
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.menu li:hover {
  color: hsl(5, 85%, 63%);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 1px;
}


h1 {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.05rem;
  line-height: 3rem;
}

.red-callout {
  background-color: hsl(5, 85%, 63%);
  margin: 10% 40% 10% 0;
  height: 4rem;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.black-box {
  background-color: hsl(240, 100%, 5%);
}

.black-box .orange-headline {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-bottom: 5%;
}

.black-box {
  color: hsl(0, 0%, 63%);
  font-weight: 400;
  padding: 8% 7% 8% 8%;
}

.black-box .title {
  color: hsl(0, 0%, 97%);
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
  display: block;
}

.black-box .white-divider {
  border: none;
  background-color: hsl(36, 100%, 99%);
  height: 1px;
  margin: 10% 0;
}

.black-box-text {
  line-height: 1.9rem;
}

.other-articles {
  height: 33%;
  margin-top: 2.5rem;
}

.image-and-text {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10rem;
}

.other-articles-image {
  display: flex;
  min-height: 4rem;
  object-fit: scale-down;
  padding: 1rem 0 1rem 0;
}

.text-beside-image {
  grid-column: 2;
  padding-left: 1rem;
}
.text-beside-image h2 {
  color: hsl(233, 8%, 79%);
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  margin-top: 1rem;
}

.text-beside-image h3 {
  margin-top: 0;
}

.text-beside-image p {
  line-height: 1.7rem;
  margin-right: 1rem;
  color: hsl(233, 8%, 79%);
  font-size: 0.95rem;
  font-weight: 500;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
